body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

.container {
  margin-top: 50px;
}

h1 {
  font-size: 28px;
}
#score-card{
  color: white;
}
#game-board {
  width: 400px;
  height: 400px;
  border: 2px solid #000000;
  margin: 20px auto;
  position: relative;
  background-color: white;
}

.snake {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 1px solid darkgreen;
  position: absolute;
}

.food {
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
}
